<!doctype html>
<html lang="en">

<!-- Mirrored from themeforesight.netlify.app/sign-in.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 01 Jul 2023 05:40:17 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Zokso admin | Sign in</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="shortcut icon" href="/img/favicon.ico">

  <!-- Theme styles -->
  <link rel="stylesheet" type="text/css" href="/css/theme.min.css">

  <!-- Font Awesome -->
  <link rel="stylesheet" type="text/css" href="../cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

  <!-- Vendor -->
  <link rel="stylesheet" type="text/css" href="/css/vendor.min.css">

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-JJNV6J8RHQ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-JJNV6J8RHQ');
  </script>
</head>


<body class="bg-white min-vh-100 border border-primary border-5">
  <section class="container text-center py-5 py-md-6 py-xl-8">

    <h4 class="font-weight-normal text-dark mt-4 mb-4">
      Log in as Admin
    </h4>

    <span class="text-center fw-bold text-danger" id="error"></span>
    <div class="row justify-content-center pt-3">
      <div class="col-md-6 col-lg-4">
        <form id="loginForm">
          <div class="mb-3">
            <input type="text" name="email" placeholder="Email" class="form-control form-control-lg bg-pastel-darkblue">
          </div>

          <div class="mb-3">
            <input type="password" name="password" placeholder="Password" class="form-control form-control-lg bg-pastel-darkblue">
          </div>

          <input type="submit" class="btn btn-primary btn-lg shadow-light text-uppercase-bold-sm hover-lift mt-4" value="Sign in">

          <!-- <a href="recover-password.html" class="d-block font-size-sm mt-5">
            Forgot your password?
          </a> -->

          <!-- <div class="text-secondary font-size-sm mt-5">
            Don't have an account?
            <a href="sign-up.html">Sign up</a> -->
          </div>
        </form>
      </div>
    </div>
  </section>

  <!-- JAVASCRIPT
  ============================================-->

  <!-- Vendor -->
  <script src="/js/vendor.min.js"></script>


  <!-- Main Theme file -->
  <script src="/js/theme.min.js"></script>
  <script src="/js/axios.min.js"></script>

  <script>
    document.getElementById('loginForm').addEventListener('submit', async (event) => {
        event.preventDefault();
        const formData = new FormData(event.target);

        try {
            const response = await axios.post('/admin/admin-login', formData, {
                headers: {
                    'Content-Type': 'application/json'
                }
            });
            if (response.status === 200) {
                window.location.href = '/admin/panel';
            }
        } catch(err) {
            document.getElementById('error').textContent = err.response.data.error;
        }
    })
  </script>

</body>

</html>
