<div class="container">
    <div class="d-flex justify-content-center flex-column p-5">
        <h3 class="text-center">Add new address</h3>
        <form class="d-flex justify-content-center flex-column gap-4 p-10 pt-5 pb-5" onsubmit="addressSave(event)">
            <div class="d-flex gap-5">
                <input hidden name="defaulted" value="<%=true%>">
                <div>
                    <label class="form-label">Home</label>
                    <input type="radio" name="addressType" value="home">
                </div>
                <div>
                    <label class="form-label">Office</label>
                    <input type="radio" name="addressType" value="office">
                </div>
                <div>
                    <label class="form-label">Other</label>
                    <input type="radio" name="addressType" value="other">
                </div>
            </div>
            <div>
                <label class="form-label">Name</label>
                <input class="form-control" name="customerName">
            </div>
            <div>
                <label class="form-label">Contact number</label>
                <input class="form-control" name="contactNumber">
            </div>
            <div>
                <label class="form-label">House/building number or Company name</label>
                <input class="form-control" name="houseNumber">
            </div>
            <div>
                <label class="form-label">Street</label>
                <input class="form-control" name="street">
            </div>
            <div class="d-flex flex-row gap-3">
                <div>
                    <label class="form-label">Town/city</label>
                    <input class="form-control" name="city">
                </div>
                <div>
                    <label class="form-label">State</label>
                    <input class="form-control" name="state">
                </div>
                <div>
                    <label class="form-label">Pincode</label>
                    <input class="form-control" name="pincode">
                </div>
            </div>
            <div>
                <label class="form-label">Landmark &nbsp; <em>(optional)</em> </label>
                <input class="form-control" name="landmark">
            </div>
            <div class="d-flex justify-content-center pt-2">
                <button type="submit" class="nav-link bg-primary border-0 rounded-2 text-white">save address</button>
            </div>
        </form>
    </div>
</div>